<!-- [DOC]
    Directive *ngFor used for cyclic output of some objects.
    For example if we have array 'names' that has value ['Kate', 'Pete']
    than next code will be interpreted this way

        <div *ngFor="let name of names">
            <p>Name: {{name}}</p>
        </div>

                ||
                \/

        <div>
            <p>Name: Kate</p>
        </div>
        <div>
            <p>Name: Pete</p>
        </div>
   -->
<h1>Greeting</h1>
<div [hidden]="!authenticated()">
    <div [hidden]="!error">
        <p class="danger">Error: {{error}}</p>
    </div>
    <div *ngFor="let post of posts">
        <img width="30px" [src]="apiUrl + '/api/post/' + post.id + '/image'"/>
        <h3>Title: {{post.title}}</h3>
        <p>Text: {{post.text}}</p>
        <a mat-button color="primary" [routerLink]="['/post/' + post.id]"><mat-icon>right</mat-icon> Go to post</a>
    </div>
</div>
<div [hidden]="authenticated()">
    <p>Login to see your posts</p>
</div>
